<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width"/>
        <title>"SAFRAN Database Website | Log in"</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles2.css') }}">
    </head> 
    <body>
        <a class="Container" href="indexCopy.html" title="SAFRAN FS Asset Tracker" alt="Click to return to the home page.">
        <img style="width: 99%; height: 175px; border: 5px solid black" src="{{ url_for('static', filename='images/topbanner.jpg') }}" alt="Website Banner">
        <h1 class="mainTitle">SAFRAN FS Asset Tracker</h1>
        </a>
        <h1 class="SignOn">Log in</h1>
        <input type="text" placeholder="Username"><br>
        <input type="password" placeholder="Password"><br>
        <span class="button"><a href="indexCopy.html" title="Log in" alt="Log in to the asset tracker"><button  type="button"><strong>Log in</strong></button></a></span>
        <footer>
            <p>MIS 320 Group 17 - Bobby Kapsch, Parker Woods, Spencer Zevenbergen, Zach Willens, Hayden Doiel <br>
            SAFRAN FS ASSET TRACKER Database Project © 2023</p>
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" width="100" alt="Logo">
        </footer>
    </body>
